<h1 mat-dialog-title>Add KinOrKith</h1>
<div mat-dialog-content>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Number</mat-label>
      <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="getSelectedKK($event.option.value)">
        <!-- <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option> -->
        <mat-option *ngFor="let kk of filteredOptions | async" [value]="kk.id" >
          {{kk.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>

<!-- https://stackoverflow.com/questions/59450039/get-id-selected-value-from-autocomplete-in-angular-material -->