<h1 mat-dialog-title>Add Relationship</h1>
<div mat-dialog-content>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Number</mat-label>
      <input type="text" placeholder="Pick one" aria-label="Relationship" matInput [formControl]="myControl"
        [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="getSelectedRelationship($event.option.value)">
        <!-- <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option> -->
        <mat-option *ngFor="let relationship of filteredOptions | async" [value]="relationship.id" >
          {{relationship.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
