<div class="example-button-container">
    <button mat-fab color="accent" [disabled]="!kinOrkithForm.valid" aria-label="save" (click)="submit()">
        <mat-icon>save</mat-icon>
    </button>
</div>

<form fxLayout="column" [formGroup]="kinOrkithForm">
    <div class="input-row" fxLayout="column" fxLayoutGap.lt-md="0px" fxLayoutAlign="space-around center">

        <mat-form-field appearance="outline">
            <mat-label> E-mail
            </mat-label>
            <input matInput formControlName="email" required appearance="outline">
            <mat-error *ngIf="kinOrkithForm.controls.email.touched && kinOrkithForm.controls.email.invalid">
                <span *ngIf="kinOrkithForm.controls.email.errors?.required">This field is mandatory.</span>
                <span *ngIf="kinOrkithForm.controls.email.errors?.pattern">This field is invalid.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field required appearance="outline">
            <mat-label> Name
            </mat-label>
            <input matInput formControlName="name" type="name">
            <mat-error *ngIf="kinOrkithForm.controls.name.touched && kinOrkithForm.controls.name.invalid">
                <span *ngIf="kinOrkithForm.controls.name.errors?.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field required appearance="outline">
            <mat-label> Phone Number
            </mat-label>
            <input matInput formControlName="phonenumber" type="phonenumber">
        </mat-form-field>

        <!-- <button [disabled]="!kinOrkithForm.valid" mat-raised-button color="primary"
            (click)="submit()">Register</button> -->
    </div>
</form>