<div class="example-button-container">
    <button mat-fab color="accent" [disabled]="!expenseForm.valid" aria-label="save" (click)="submit()">
        <mat-icon>save</mat-icon>
    </button>
</div>


<div fxLayout="column" fxFlex="66" fxFlexOffset="15" fxLayoutAlign="space-around stretch" [style.margin-top]="'5%'">

    <form [formGroup]="expenseForm" fxLayout="column">
        <div [hidden]="true">
            <mat-form-field required appearance="outline">
                <mat-label> Relationship
                </mat-label>
                <input matInput readonly [disabled]="true" formControlName="relationshipName" type="relationshipName"
                    name="relationshipName" type="text" required>
                <mat-error
                    *ngIf="expenseForm.controls.relationshipName.touched && expenseForm.controls.relationshipName.invalid">
                    <span *ngIf="expenseForm.controls.relationshipName.errors?.required">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label> Group
                </mat-label>
                <input matInput readonly [disabled]="true" formControlName="groupName" type="groupName" name="groupName"
                    type="text">
                <!-- <mat-error *ngIf="expenseForm.controls.groupName.touched && expenseForm.controls.groupName.invalid">
                    <span *ngIf="expenseForm.controls.groupName.errors?.required">This field is mandatory.</span>
                </mat-error> -->
            </mat-form-field>
            <button mat-button color="green" (click)="openGroupDialog()">+Group</button>
        </div>

        <div>
            <mat-form-field required appearance="outline">
                <mat-label>Kin Or Kith</mat-label>
                <input type="text" matInput formControlName="kinOrKith" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                    (optionSelected)="getSelectedKK($event.option.value)">
                    <mat-option *ngFor="let kk of filteredOptions | async" [value]="kk.id">
                        {{kk.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field required appearance="outline">
                <mat-label> Cost
                </mat-label>
                <input matInput formControlName="cost" name="cost" type="text" required>
                <mat-error *ngIf="expenseForm.controls.cost.touched && expenseForm.controls.cost.invalid">
                    <span *ngIf="expenseForm.controls.cost.errors?.required">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Expense Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="expenseDate" name="expenseDate" type="text">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

                <mat-error *ngIf="expenseForm.controls.expenseDate.touched && expenseForm.controls.expenseDate.invalid">
                    <span *ngIf="expenseForm.controls.expenseDate.errors?.required">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>

        </div>

        <div>
            <mat-form-field required appearance="outline">
                <mat-label> Reason
                </mat-label>
                <textarea matInput formControlName="reason" name="reason" type="text" required></textarea>
                <mat-error *ngIf="expenseForm.controls.reason.touched && expenseForm.controls.reason.invalid">
                    <span *ngIf="expenseForm.controls.reason.errors?.required">This field is mandatory.</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>

</div>