mat-card {
    min-width: 40%;
}

.login-main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-card{
    background-color: rgba(230, 227, 227, 0.295);
}

