<app-header></app-header>

<!-- <div fxLayout="column" fxLayoutAlign="space-around center"> -->

    <div fxLayout="row" fxLayoutAlign="space-around center" >
        <div style="display: block;" fxFlex="33">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
            </canvas>
        </div>

        <div style="display: block;" fxFlex="33">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
            </canvas>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center" >
        <div style="display: block;" fxFlex="33">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
            </canvas>
        </div>

        <div style="display: block;" fxFlex="33">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
            </canvas>
        </div>
    </div>

<!-- </div> -->