<app-header></app-header>

<!-- <div fxLayout="column" fxLayoutAlign="space-around center"> -->
<fieldset>
    <legend style="color:slateblue;">Expense</legend>
    <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="group_pieChartData">
        <div style="display: block;" fxFlex="33">
            <canvas baseChart [data]="group_pieChartData" [labels]="group_pieChartLabels"
                [chartType]="group_pieChartType" [options]="group_pieChartOptions" [plugins]="group_pieChartPlugins"
                [legend]="group_pieChartLegend">
            </canvas>
        </div>

        <div style="display: block;" fxFlex="33" *ngIf="kithOrkin_polarChartData">
            <canvas baseChart [data]="kithOrkin_polarChartData" [labels]="kithOrkin_polarChartLabels"
                [legend]="kithOrkin_polarChartLegend" [chartType]="kithOrkin_polarChartType">
            </canvas>
        </div>
    </div>
</fieldset><br>

<fieldset>
    <legend style="color:slateblue;">Monthly Expense</legend>
        <!-- </div> -->
        <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="lineData">
            <div style="display: block;" fxFlex="40">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </div>
        </div>
</fieldset>